/* Contact Section */
#contact {
    padding: 100px 0;
    background: #4a4a4a;
}
#contact .contact-item p {
    font-size: 15px;
    color: #777;
}
#contact .section-title {
    margin-top: 60px;
    margin-bottom: 40px;
}
#contact form {
    padding: 0;
}
#contact h3 {
    position: relative;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 400;
    color: #aaa;
    padding: 20px 0;
}
#contact h3::after {
    position: absolute;
    content: "";
    background: #d43031;
    height: 2px;
    width: 40px;
    bottom: 0;
    margin-left: -20px;
    left: 50%;
}
#contact .text-danger {
    color: #cc0033;
    text-align: left;
}
label {
    font-size: 12px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    float: left;
}
#contact .form-control {
    display: block;
    width: 100%;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    color: #ccc;
    background-color: rgba(255,255,255,.2);
    background-image: none;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
#contact .form-control:focus {
    border-color: #999;
    outline: 0;
    -webkit-box-shadow: transparent;
    box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
    color: #999;
}
.form-control:-moz-placeholder {
    color: #999;
}
.form-control::-moz-placeholder {
    color: #999;
}
.form-control:-ms-input-placeholder {
    color: #999;
}
#contact .contact-item {
    margin: 20px 0 40px 0;
}
#contact .contact-item span {
    font-weight: 400;
    color: #aaa;
    text-transform: uppercase;
    margin-bottom: 6px;
    display: inline-block;
}
/* Footer Section*/
#footer {
    background: #262626;
    padding: 40px 0 20px 0;
}
#footer .social {
    margin-top: -5px;
    text-align: right;
}
#footer .social ul li {
    display: inline-block;
    margin: 0 15px;
}
#footer .social i.fa {
    font-size: 24px;
    padding: 4px;
    color: #888;
    transition: all 0.3s;
}
#footer .social i.fa:hover {
    color: #eee;
}
#footer p {
    font-size: 14px;
    color: #666;
}
#footer a {
    color: #999;
}
#footer a:hover {
    color: #eee;
}
