/* Navigation */
.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}
.navbar .navbar-collapse {
    text-align: center;
}
#menu {
    padding: 20px;
    transition: all 0.8s;
}
#menu.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}
#menu.navbar-default .navbar-nav > li > a {

    text-transform: uppercase;
    color: #430808;
    font-weight: 400;
    font-size: 15px;
    padding: 5px 0;
    border: 2px solid transparent;
    letter-spacing: 0.5px;
    margin: 0 40px 0 40px;
}

#menu.navbar-default .navbar-nav > li > a:hover .scroll{
    color: #ffffff;
}

.on li > a{
    color: #ffffff !important;

}
.on {
    background-color: #43080B !important;
    padding: 0 !important;
    padding: 10px 0 !important;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff !important;
    background-color: transparent;
}
.navbar-toggle {
    border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #ffffff;
    border-color: #ffffff;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
    background-color: #FFF;
}
.section-title {
    margin-bottom: 75px;
}

.section-title .overlay {
    padding: 80px 0;
    background: #4A4A4A;

}
.section-title p {
    font-size: 22px;
}
.section-title hr {
    margin: 0 auto;
    margin-bottom: 40px;
}
.btn-custom {
    text-transform: uppercase;
    color: #777;
    background-color: transparent;
    border: 2px solid #777;
    padding: 14px 20px;
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 0;
    margin-top: 20px;
    transition: all 0.3s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
    color: #ddd;
    border: 2px solid #d43031;
    background-color: #d43031;
}