body, html {
	font-family: montserrat regular;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #777;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
}
.section-title2 {
	margin-bottom: 23px;
}
/* Google Maps */
.gmap {
	width: 100%;
	height: 100px; }

h2 {
	font-weight: 400;
	font-size: 38px;
	color: #333;
	text-transform: uppercase;
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 20px;
}
h2::after {
	position: absolute;
	content: "";
	background: #d43031;
	height: 2px;
	width: 70px;
	bottom: 0;
	margin-left: -35px;
	left: 50%;
}
.my-custom-class-for-label {
	width: 50px;
	height: 20px;

	border: 1px solid #eb3a44;
	border-radius: 5px;
	background: #fee1d7;
	text-align: center;
	line-height: 20px;
	font-weight: bold;
	font-size: 14px;
	color: #eb3a44;
}
.titre::after {
	position: absolute;
	content: "";
	background: #d43031;
	height: 2px;
	width: 70px;
	bottom: 0;
	margin-left: -35px;
	left: 50%;
}
.titre{
	color: white;
}

h3 {
	font-size: 24px;
	font-weight: 400;
	color: #333;
}
h4 {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: 400;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #8eb640;
}
a:hover, a:focus {
	text-decoration: none;
	color: #222;
}
ul, ol {
	list-style: none;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: none;
}

/* Header Section */
.intro {
	display: table;
	width: 100%;
	padding: 0;

	background-color: #e5e5e5;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: #ffff;
}
.intro h1 {
	font-family: 'Rochester', cursive;
	color: #fff;
	font-size: 10em;
	font-weight: 400;
	margin-top: 0;
}
.intro span {
	color: #a7c44c;
	font-weight: 600;
}
.intro p {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	margin-top: 150px;
}
header .intro-text {
	padding-top: 200px;
	padding-bottom: 50px;
	text-align: center;
}
/* mets Section */
#mets {
	padding: 120px 0;
}
#mets .mets-item {
	margin: 0 20px;
}
#mets img {
	margin: 30px auto 20px;
}
#mets .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#mets p {
	line-height: 24px;
	margin: 15px 0 30px;
}
/* entremet Section */
#entremet {
	padding: 120px 0;
}
#entremet .entremet-item {
	margin: 0 20px;
}
#entremet img {
	margin: 30px auto 20px;
}
#entremet .about-img:before {
	display: block;
	content: '';
	position: absolute;
	top: 8px;
	right: 8px;
	bottom: 8px;
	left: 8px;
	border: 1px solid rgba(255, 255, 255, 0.5);
}
#entremet p {
	line-height: 24px;
	margin: 15px 0 30px;
}
/* About Section */

#about {
	padding: 0;
	background: rgba(84, 84, 84, 0.98);
}
#about h2::after {
	bottom: 0;
	margin-left: 0;
	left: 0;

}
#about .about-text {
	padding: 80px 0;
	color: white;
}
#about .about-img {
	background: #444 url(../img/gallery-bg.jpg) center center no-repeat;
	background-size: cover;
	height: 570px;
}
#about p {
	line-height: 24px;
	margin: 15px 0 30px;
}
/* Menu Section */
#restaurant-menu {
	padding: 100px 0 60px 0;
}
#restaurant-menu img {
	width: 300px;
	box-shadow: 15px 0 #a7c44c;
}
#restaurant-menu h3 {
	padding: 10px 0;
	text-transform: uppercase;
}
#restaurant-menu .menu-section hr {
	margin: 0 auto;
}
#restaurant-menu .menu-section {
	margin: 0 20px 80px;
}
#restaurant-menu .menu-section-title {
	font-size: 32px;
	display: block;
	font-weight: 400;
	color: #444;
	margin: 20px 0;
	text-align: center;
}
#restaurant-menu .menu-item {
	margin: 45px 0;
	font-size: 18px;
}
#restaurant-menu .menu-item-name {
	font-weight: 400;
	font-size: 20px;
	color: #444;
	margin-bottom: 10px;
}
#restaurant-menu .menu-item-description {
	font-size: 15px;
	width: 85%;
}
#restaurant-menu .menu-item-price {
	float: right;
	font-weight: 400;
	color: #555;
	margin-top: -36px;
}
/* Gallery Section */
#gallery {
	padding: 0;
}
#gallery .gallery-item {
	margin: 0 -15px;
}
/* Team Section */
#team {
	padding: 120px 0;
}
#team h2::after {
	bottom: 0;
	margin-left: 0;
	left: 0;
}
#team img {
	max-width: 550px;
}
#team .team-img {
	display: inline-block;
	position: relative;
}

/*style +*/
.carousel-default{
	width: 80%;
	height: 50%;
	margin: auto;
}
.img-default{
	width: 100%;
	height: 100%;
	margin: auto;
}


.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
#map {
	height: 100%;
}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}

/* Optional: Makes the sample page fill the window. */

@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }
}
.bord{
	 /*border: 1px solid #6f6f6f*/
	 background: #eaceba14;
	 padding-top:0.5pc ;
	 padding-bottom:0.5pc ;
 }
.bord2{
/*margin-bottom: 1pc;*/
	background: #cfbdb20d;

	/*padding-bottom:0.5pc ;*/
}

.logo{
	width: 30pc;	margin-bottom: 2pc;
}
.button {
	font-family: montserrat bold;
/*margin-top: 5pc;*/
	width: 14pc;
	background: #4A4A4A;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	color: white;

}
.bord img{

	width: 40%;
	height: 100px;
}
.bord h4{
	font-family: montserrat regular;
	/*font-size: 5pc;*/
	letter-spacing: 8px;
}
#map {
	height: 100%;
}
#mymap {

	width: 99%;
	height: 300px;
}
#mymap2 {

	width: 20%;
	height: 300px;
}
.carousel-size{
	width: 100%;
	margin: auto;
}

/*rating*/

*{
	margin: 0;
	padding: 0;
}
.rate {
	float: left;
	height: 46px;
	padding: 0 10px;
}
.rate:not(:checked) > input {
	position:absolute;
	top:-9999px;
}
.rate:not(:checked) > label {
	float:right;
	width:1em;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	font-size:30px;
	color:#ccc;
}
.rate:not(:checked) > label:before {
	content: '★ ';
}
.rate > input:checked ~ label {
	color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
	color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
	color: #c59b08;
}

/* Modified from: https://github.com/mukulkant/Star-rating-using-pure-css */
/*end rating*/

.check{
	margin-right: 1pc;
}


/*categorie*/
.top{
	margin-top: 8pc;
}

.top .center{
	margin:auto;padding: 5pc
}
.btnl{
	width: 15pc;background: #771616;color: white
}
.list{
	margin-bottom: 6pc;margin-top: 5pc;
}
.list .leftSide{
	background: #e7e0e045;    padding-bottom: 64pc;
}
.list .leftSide input{
	margin-right: 1pc;
}
.list .leftSide div{
	padding-top: 1pc;
}
.card{
	 width: 17pc;
}
.padd{
	padding: 0.5pc;
}
.topP{
	padding-top: 8px;
}
.btnF{
margin:auto;background: #5b5454;color: white;
}
/*categorie*/
/*detail*/
.margT{
	margin-top: 8pc;
}
.btnP{
	margin:1pc;background: #5b5454;color: white;border-radius: 30px;
}

.btnPr{
	margin:1pc;background: #894141bf;color: white;
}
/*detail*/
.avis{
	margin-top: 11px;
}
.margT{
	margin: 3pc;
}
.margTop{
	margin-top:8pc;

}
.margP{
	margin-top: 11px;
}
.margB{
	margin-bottom: 6pc;
}
.margB h4 {
	margin: 3pc;
}
/*detail*/
/*panier*/

.cont{
	box-shadow: 1px 1px 5px 2px #ccc;margin-bottom:3pc;width: 60%;background: white;border: #5e5e5e
}
.grad{
	margin-bottom:1pc;background-image: linear-gradient(to top, rgba(0,0,0,0), rgb(211, 203, 203));background-repeat: no-repeat;
}
.paddingtT{
	padding-top: 4pc
}
/*panier*/
/*paiement*/

/*.tabs-wrap {
	margin-top: 40px;
}
.tab-content .tab-pane {
	padding: 20px 0;
}*/
.boxPos{
	padding: 3pc ;    margin-bottom: 10pc; background: white;box-shadow: 1px 1px 5px 2px #ccc;
}
.form-group label{
	color: #999999
}
.suiv{
	float: right;width: 10pc;height: 2pc
}
.log{
	 width: 10pc;height: 2pc
}
/*paiement*/
